
<div class="card bg-base-100 shadow-xl">
    <div class="card-body">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="card-title">{{ post.title }}</h2>
        </a>
        <div class="badge badge-secondary">{{ post.date | date: "%b %-d, %Y" }}</div>
        <p>{{ post.excerpt }}</p>
        <div class="card-actions justify-end">
            {% for category in post.categories %}
                <a href="{{ "/categories/" | append: category | prepend: site.baseurl }}">
                    <div class="badge badge-outline">{{ category }}</div> 
                </a>
            {% endfor %}
        </div>
    </div>
</div>