---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    overflow-x: auto;
}

@media (prefers-color-scheme: light) {
    #disqus_thread {
        color: #2b2b2b;
        background: #ECEBD9;
    }
}

@media (prefers-color-scheme: dark) {
    #disqus_thread {
        color: #ECEBD9;
        background: #444;
    }
}
