---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
    overflow-x: auto;
}

@media (prefers-color-scheme: light) {
    #disqus_thread {
        color: rgba(31, 41, 55, 0);
        background: rgb(255, 255, 255);
    }
}

@media (prefers-color-scheme: dark) {
    #disqus_thread {
        color: rgba(166, 173, 186);
        background: rgb(29, 35, 42);
        color-scheme: light;
    }

}
